body {
  background-color: black;
}
.calculator-button {
  height: 60px;
  width: 60px;
  border-radius: 60px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin-right: 5px;
}
.black-button {
  background-color: rgb(51, 49, 49);
  color: white;
}
.yellow-button {
  background-color: rgb(254, 160, 10);
  color: white;
}
.clear-butt {
  font-size: 17px;
}
